@model List<DatosGastos.Data.Entidades.Transaccion>

@{
    ViewData["Title"] = "Lista de Transacciones";
}

<div style="display: flex; align-items: center; gap: 15px; margin-bottom: 20px;">
    <img src="https://i.pinimg.com/736x/77/fa/cc/77facc4484241327c75bcdb2a2f5c5ef.jpg"
         alt="gato vigilante"
         style="height: 60px;" />

    <div>
        <h2 class="mb-3">Transacciones Registradas</h2>
        <a asp-action="Crear" class="btn btn-dark">Registrar nueva transacción</a>
    </div>
</div>


<table class="table  table-striped">
    <thead >
        
        <tr>
            <th>Descripción</th>
            <th>Monto (Bs)</th>
            <th>Fecha</th>
            <th>Categoría</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Descripcion</td>
                <td>@item.Monto.ToString("F2")</td>
                <td>@item.Fecha.ToShortDateString()</td>
                <td>@item.Categoria?.Nombre</td>
                <td>@item.TipoTransaccion?.Nombre</td>
                <td class="acciones-columna">
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                </td>

            </tr>
        }
    </tbody>
</table>

